---
  import BaseLayout from "../layouts/BaseLayout.astro";
  import HorizontalCard from "../components/HorizontalCard.astro";

  const projects = (await Astro.glob("./project/*.{md,mdx}")).sort(
    (a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf()
  );

  const last_projects = projects.slice(0, 3);

   const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
    (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
  );

  const last_posts = posts.slice(0, 3);
---

<BaseLayout>

  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Fernando García</div>
    <div class="text-3xl py-3 font-bold">Web Developer⚡UX-UI Designer</div>
    <div class="py-2">
      <text class="text-lg">
        I share specialized knowledge in technology to identify business opportunities, develop applications, optimize processes and maximize yields. <br> I also edit photos and make websites :)
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/fgbyte" target="_blank"> Let's connect!</a>
      <a href="https://fernandogarcia.showwcase.com" target="_blank" class="btn btn-outline ml-5"> View CV</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <!-- <HorizontalCard title="mai.photo" img="/projects/mai.photo.jpg"
    desc="Full Responsive Comercial Web Site for Photography." url="https://mai-photo.vercel.app" badge="NEW" />

  <div class="divider my-0"></div>

  <HorizontalCard title="Demo Portfolio Site" img="/projects/sass_portfolio@0.5x.jpg"
    desc="A simple portfolio site made with simple techs" url="https://fgbyte.github.io/demo-sass-portfolio/dist" /> -->

    {
  last_projects.map((project) => (
  <HorizontalCard title={project.frontmatter.title} img={project.frontmatter.img} desc={project.frontmatter.description}
    badge={project.frontmatter.badge} url={project.url} target="_self" />
  <div class="divider my-0"></div>
  ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
  last_posts.map((post) => (
  <HorizontalCard title={post.frontmatter.title} img={post.frontmatter.heroImage} desc={post.frontmatter.description}
    badge={post.frontmatter.badge} url={post.url} target="_self" />
  <div class="divider my-0"></div>
  ))
  }

</BaseLayout>